@page
@model GrafelmeletWeb.Pages.GrafokModel
@{
	



<html>


@Model.szemelyek[0].email
<br>

<body>

    @{
     // probalkoztam 
   // var myChart = new Chart(width: 600, height: 400)
       // .AddTitle("Chart Title")
       // .AddSeries( name: "Employee", xValue: new[] {  "Peter", "Andrew", "Julie", "Mary", "Dave" }, yValues: new[] { "2", "6", "4", "5", "3" }).Write();
}

@for(var i =0; i < 5; i++)
    {
        @for(var j =0; j < 5; j++)
            {@Model.proba[@i,@j]<text>&nbsp;</text> }
    <br> 
    }
        
</body>
</html>
}
